<a href="https://colab.research.google.com/github/DaniellePestana/DSWP/blob/master/dswp_grupo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CRISP-DM PROCESS**

#**1BU - BUSINESS UNDERSTANDING**

> O que se deseja alcançar a partir de uma perspectiva de negócios.

#**2DU - DATA UNDERSTANDING**

> Coleta e exploração dos dados. Exploração do dataframe, descobrir relações e descrever os dados em geral. Utilize-se das técnicas de Data Visualization para detectar relações relevantes entre as variáveis, desequilíbrios de classes e identificar variáveis mais importantes.

###Criar um dataframe a partir do ficheiro

In [0]:
# Carrega a library Pandas
import pandas as pd
import numpy as np

In [49]:
df_50k = pd.read_csv('https://raw.githubusercontent.com/MathMachado/DSWP/master/Dataframes/adult.data')
print(f'Ficheiro com {df_50k.shape[0]} linhas e {df_50k.shape[1]} colunas')

Ficheiro com 32560 linhas e 15 colunas

In [50]:
#Detecção de que o ficheiro não tem header
df_50k.head(5)

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

In [51]:
#Lista para o header do ficheiro
l_column = ['age',
            'workclass',
            'fnlwgt',
            'education',
            'education-num',
            'marital-status',
            'occupation',
            'relationship',
            'race',
            'sex',
            'capital-gain',
            'capital-loss',
            'hours-per-week',
            'native-country',
            'flag_50k'
          ]
l_column

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'flag_50k']

In [0]:
#Adição de header ao ficheiro
df_50k = pd.read_csv('https://raw.githubusercontent.com/MathMachado/DSWP/master/Dataframes/adult.data'
                    ,names = l_column)

In [53]:
df_50k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
flag_50k          32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [54]:
df_50k.head(5)

   age          workclass  fnlwgt  ... hours-per-week  native-country flag_50k
0   39          State-gov   77516  ...             40   United-States    <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States    <=50K
2   38            Private  215646  ...             40   United-States    <=50K
3   53            Private  234721  ...             40   United-States    <=50K
4   28            Private  338409  ...             40            Cuba    <=50K

[5 rows x 15 columns]

**Dicionário dos dados**   
*   Age: idade da pessoa
*   workclass: classificação do cargo profissional
*   fnlwgt (final weight): ?
*   education: grau de escolaridade
*   education-num: ?
*   marital-status: estado civil
*   occupation: cargo profissional
*   relationship: tipo de relacionamento
*   race: raça
*   sex: sexo
*   capital-gain: ?
*   capital-loss: ?
*   hours-per-week: horas por semana trabalhadas?
*   native-country: país de nascimento
*   flag_50k: indicativo se ganha menos (<=50k) ou mais (>50k) que 50.000 dinheiros

In [23]:
#Colunas do DataFrame
df_50k.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'flag_50k'],
      dtype='object')

In [24]:
df_50k.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
flag_50k          object
dtype: object

In [30]:
#Valores distintos de WorkClass
df_50k['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [32]:
#Valores distintos de Education
df_50k['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [34]:
#Valores distintos de marital-status
df_50k['marital-status'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

In [35]:
#Valores distintos de occupation
df_50k['occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [36]:
#Valores distintos de relationship
df_50k['relationship'].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

In [37]:
#Valores distintos de race
df_50k['race'].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [38]:
#Valores distintos de sex
df_50k['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [42]:
#Valores distintos de native-country
df_50k['native-country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [43]:
#Valores distintos de flag_50k
df_50k['flag_50k'].value_counts()

 <=50K    24720
 >50K      7841
Name: flag_50k, dtype: int64

#**3DP - DATA PREPARATION**

> Coletar, preparar, transformar e limpar dados: remover duplicatas, corrigir erros, lidar com Missing Values, normalização, conversões de tipo de dados e etc.

*   **3DP_Feature Engineering**: derivar variaveis
*   **3DP_Missing Values Handling**: identificar e tratar os Missing Values
*   **3DP_Outliers Handling**: identificar e tratar os Outlier
*   **3DP_Data Transformation**: colocar as variáveis numa mesma escala (RobustScaler?)

In [55]:
#Lista com os nomes da colunas por tipo de dados
df_50k.select_dtypes(include=['float','number']).columns

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

In [0]:
#criar nova coluna?
#df_50k['ind_50k'] = df_50k['flag_50k'].apply(lambda x: 0 if x == '<=50K' else 1)

#**4M - MODELING**

> Aplicar algoritmos (*Supervised* vs *Unsupervised Learning*).

#**5MSE - MODEL SELECTION AND EVALUATE**

> Aplicação das melhores métricas para avaliar o acurácia dos modelos de ML.

#**6D - Deployment**

> Implementação do Modelo.